main{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
    column-gap: 10px;
}

main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;

}
.block.block1 {

    background-color: #ae366b;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

.block.block2 {
    background-color: #756ea8;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.block.block3 {
    background-color: #828cc4;
    grid-column-start: 1;
    grid-column-end: 4;


}

.block.block4 {
    background-color: #a8d2db;
    grid-column-start: 1;
    grid-column-end: 4;
}

@media screen and (min-width: 772px) {


    .block.block1 {



        grid-row-start: 1;
    }

    .block.block2 {


        grid-row-start: 3;
    }

    .block.block3 {


        grid-row-start: 2;

    }


}
@media screen and (min-width: 992px) {


    .block.block1 {



    }

    .block.block2 {


        grid-row-start: 2;
    }

    .block.block3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;


    }

    .block.block4 {

        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }
}

