body {
    background-image: url("Images_videos_audio/construction-background-in-pixel-art-style-vector-2851483068.jpg");
    background-repeat: repeat;
    background-position: top left;

    color: gold;
    font-size: 40px;
}