h1,h2,h3 {font-family: arial, helvetica, sans-serif;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.4em;}
p {font-size: 1.2em; font-family: "Times New Roman",serif;}
.red {color: red;}
.green {color: green;}
.blue {color: blue;}