li{
    background: darkslategray;
    list-style: none;
}
body{
    background: dimgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    margin: auto;
}
a {
    background-image:url("../Images/thunderdome-logo.png");
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size:20px;
}
h2 {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color: darkslategray;
}
div p {
    text-align: justify;
    overflow: hidden;

}
.grey {
    background-color: #7d7d7d;
}