section
{
    display: inline-block;
    width: 70%;
    box-sizing: border-box;



}
.thisWeek
{
    display: inline-block;
    float: right;
    width: 25%;
    border: 1px groove green;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-image: url("images/cocktail.gif");
    background-repeat: repeat-x;
}
.thisWeek a:hover
{
    background-color: brown;
}
.thisWeek h1
{
    color: rgb(126,0,126);
}
.thisWeek h2
{
    color: rgb(126,126,0);
}
#guarantee
{
    color:rgb(44,44,44);
    background: #a7cece;
    margin: 30px;
    padding: 20px;
    border: 2px dashed white;
    font-style: italic;
}
#guarantee img
{
    float: left;
}
header
{
    text-align: center;
}
body
{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}
h1
{
    color: rgb(0, 126, 126);
    font-size: 150%;
}
h2
{
    color: rgb(0, 126, 126);
    font-size: 130%;
}
footer
{
    font-size: 0.6em;
    text-align: center;
}